.headerbox{
    width: 100%;
    height: 60px;
    background-color: hsl(59, 100%, 50%);
    text-align: center;
    font-family:"STKaitiSTKaiti" ;
}

.leftbox{
    width: 230px;
    /*
    background-color: hsl(327, 82%, 57%);
*/
    position: absolute;

}
   

.rightbox{
    margin-left: 230px;
    border-left:2px dotted #F00;
    /*
    background-color: hsl(140, 100%, 50%);
    */

    top: 0px;
    right: 0px;
}

